<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Bài 3 - Assignment</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
	<link rel="stylesheet" href="./css/bai3.css">
	<script src="js/bai3.js"></script>
</head>
<body ng-app="myapp" ng-controller="hienthi" class="p-3">
	<div class="container" style="width:70%;">
		<div class="card-header bg-success text-white d-flex text-center">
			<a class="h3">Bán hàng</a>
			<a style="cursor: pointer;" class="ml-auto p-2" onclick="naplai()"><i class="fas fa-sync-alt"></i></a>
		</div>
		<div class="justify-content-center bg-light">
			<div class="text-center p-3 border">
				<select class="form-control" ng-filter="filter" ng-model="gia">
					<option value="">Mức giá</option>
					<option value="100">Dưới 100</option>
					<option value="300">Từ 100 - 300</option>
					<option value="500">Từ 300 - 500</option>
					<option value="600">Trên 500</option>
				</select>
			</div>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th class="text-center"><input type="checkbox" ng-model="chon"></th>
						<th>Hàng hoá</th>
						<th>Đơn giá</th>
						<th>Số lượng</th>
						<th>Thành tiền</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="product in sanpham|FilterDongia: gia">
						<td class="text-center">
							<input type="checkbox" id="all" ng-model="chon">
						</td>
						<td>{{product.hanghoa}}</td>
						<td>{{product.dongia}}</td>
						<td><input type="number" ng-show="chon" ng-model="product.soluong" min="0" required></td>
						<td>{{product.dongia*product.soluong}}</td>
					</tr>
					<tr>
						<td colspan="4">Tổng</td>
						<td><b>{{getTT()}}</b></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
</body>
</html>