html, body {
    background: #2c3e50;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}
h1 {
    padding-top: 50px;
    color: #f1c40f;
    font-size: 2.5rem;
    text-transform: uppercase;
    display: block;
    width: 100%;
}
p {
    color: #f1c40f;
    font-size: 1.2rem;
    width: 100%;
    padding: 20px;
}
.btn {
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    cursor: pointer;
    line-height: 1;
    font-size: 1.1rem;
    margin: 10px;
    padding: 2em 2.5em;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
}
.btn:hover, .btn:focus {
    color: #fff;
    outline: 0;
}
.lab {
    border-color: #3498db;
    color: #fff;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    transition: all 150ms ease-in-out;
}
.lab:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}
.center{
    text-align: center;
}
#text div {
    font-weight: bold;
    text-transform: uppercase;
    color: #eee;
    transition: all 0.12s ease-out;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
}
#text div:hover {
    transform: scale(1.1);
    text-shadow: 3px 3px 3px #333;
}