<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bài 2</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body class="p-2" ng-app="app">
    <div class="container h-100vh">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-9 align-self-center">
                <div class="card">
                    <div class="card-header bg-info text-white d-flex">
                        <a class="text-white">Handle Event Controller</a>
                        <a class="text-white ml-auto icon" onclick="naplai()"><i class="fas fa-sync-alt"></i></a>
                    </div>
                    <div class="card-body form-group" ng-controller="handleEventController">
                        <table class="table table-bordered">
                            <tr class="text-center">
                                <td>Name</td>
                                <td>Likes</td>
                                <td>Dislikes</td>
                                <td>Minus</td>
                                <td>Action</td>
                            </tr>
                            <tr ng-repeat="tech in technologies">
                                <td>{{tech.Name}}</td>
                                <td>{{tech.Likes}}</td>
                                <td>{{tech.Dislikes}}</td>
                                <td>{{tech.Minus}}</td>
                                <td class="text-center">
                                    <button class="btn btn-primary" ng-click="increaseLike(tech)">Like</button>
                                    <button class="btn btn-primary" ng-click="increaseDislike(tech)">Dislike</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/bai2.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
</body>
</html>