@import url('https://fonts.googleapis.com/css2?family=Roboto&subset=vietnamese&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    background: none;
}
html { 
    background-image: linear-gradient(to right top, #2f79e7, #00a2eb, #00bec8, #69d1a3, #c8dd99);
    background-size: cover;
    height: 100%;
    overflow: hidden;
}
.title {
    background-color: #00a2eb;
    color: white;
    margin: 0 auto;
    margin-left: auto!important;
    margin-right: auto!important;
    padding: 1rem!important;
    font-size: 1.5rem;
}
.border {
    border: solid 1px blue !important;
    padding: 10px;
}
#border {
    border: solid 1px black;
    padding: 10px;
}
label {
    display: inline-block;
    margin-bottom: .1rem;
}
.form-group {
    margin-bottom: .8rem;
}
form{
    margin: 0 auto;
    background-color: white;
}
.text-primary{
    font-weight: bold;
}
.card{
    border: none;
}
.icon{
    cursor: pointer;
}