table{
    width: 50%;
    margin: 0 auto;
    justify-content: center;
    width: 400px;
    border: 2px solid goldenrod;
    border-collapse: collapse;
    border-spacing: 0px;
}
table th{
    padding: 10px;
    line-height: 20px;
    text-transform: uppercase;
    color: yellow;
    background-color: palevioletred;
    
}
table td{
    padding: 10px;
    line-height: 20px;
}
#hoten,#masv,#ns{
    color: palevioletred;
}
h2{
    color: red;
    text-transform: uppercase;
}
.info{
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    background-color: antiquewhite;
}