@import url('https://fonts.googleapis.com/css2?family=Roboto&subset=vietnamese&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    background: rgb(211, 201, 218);
    background: linear-gradient(174deg, rgb(222, 216, 226) 0%, rgb(155, 167, 209) 100%);
    color: #786fa4;
    overflow-x: hidden;
    font-size: 14px;
}